.breadcrumbs-section{
	.content{
		display:flex;
		justify-content:flex-end;
		padding-right:46px;
		h1 {
			a {
				text-transform:uppercase;
				border-bottom:1px solid $main;
				display:inline-block;
				padding-bottom:10px;
			}
		}
	}
}