.btn_mobile_menu {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    span{
        display: block;
        width: 31px;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--white-color);
        -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
        transition: opacity 0.2s, -webkit-transform 0.2s;
        transition: transform 0.2s, opacity 0.2s;
        transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
        &.rossodivino_menu_line1 {
            top: 4px;
        }
        &.rossodivino_menu_line2 {
            top: 13px;
        }
        &.rossodivino_menu_line3 {
            top: 22px;
        }
    }
    &.opened{
        .rossodivino_menu_line1{
            -webkit-transform: rotate(135deg) translate(7px, -6px);
            -ms-transform: rotate(135deg) translate(7px, -6px);
            transform: rotate(135deg) translate(7px, -6px);
        }
        .rossodivino_menu_line2 {
            opacity: 0;
        }
        .rossodivino_menu_line3 {
            -webkit-transform: rotate(-135deg) translate(7px, 6px);
            -ms-transform: rotate(-135deg) translate(7px, 6px);
            transform: rotate(-135deg) translate(7px, 6px);
        }
    }
}