// general helpers for projects
@import "../variables";

html {
    text-rendering: geometricPrecision;
}
body {
    width: 100%;
    overflow-x: hidden;
    font-family: var(--second-font);
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: var(--light-color);
    background-color: var(--dark-color);
    -webkit-font-smoothing: antialiased;
    &.stop-scrolling {
	    height: 100%;
	    overflow: hidden;
	}
	#main {
		flex:1;
		position:relative;
		.default {
			height: 100vh;
			display:flex;
			justify-content:space-between;
		}

	}
}
a{
	text-decoration:none !important;
	transition:all 350ms ease-out;
}
button{
	outline:none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.n {
    display: none;
}
* {
    margin: 0;
    padding: 0;
}

