 // fonts-used



$second-r: Open-Regular,Arial,Helvetica, sans-serif;
$second-b: Open-Bold,Arial,Helvetica, sans-serif;

$raleway-r: Raleway-Regular,Arial,Helvetica, sans-serif;

// topsol fonts used
$main-r: Montserrat-Regular,Arial,Helvetica, sans-serif;
$main-m: Montserrat-Medium,Arial,Helvetica, sans-serif;
$main-l: Montserrat-Light,Arial,Helvetica, sans-serif;
$main-b: Montserrat-Bold,Arial,Helvetica, sans-serif;

$proxima-xbold: ProximaNova-Extrabld,Arial,Helvetica, sans-serif;
$proxima-bold: ProximaNova-Bold,Arial,Helvetica, sans-serif;
$bebas: BebasNeue-Regular,Arial,Helvetica, sans-serif;
$avenir: AvenirLTStd-Book,Arial,Helvetica, sans-serif;

// color topsol used

$white: #ffffff;
$black: #000000;
$main:#DBB57F;
$main-fade:#FFF1DD;
$second:#241F20;
$third:#4F4F4F;
$third-200:#AFAFAF;

// end color topsol used

$dark:#343742;
$light:#e6bf22;
$gray:#848484;
$footer-color:#d4dae3;

$black-color:#0e0e0e;


// media queries
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

