 // fonts-used
$main: PTSans-Narrow,Arial,Helvetica, sans-serif;
$bold: PTSans-NarrowBold,Arial,Helvetica, sans-serif;
$second:OpenSans-Regular,Arial,Helvetica, sans-serif;

:root{
    --main-font: #{$main};
    --bold-font: #{$bold};
    --second-font: #{$second};

    --white-color:#fff;
    --black-color:#000;

    --dark-color:#121618;

    --light-color:#dce4e8;

    --red-color:#ef172f;
}
// media queries
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

