@import '../../../variables';

.article-section{
	padding:0 30px 30px;
	margin-top:46px;
	.article-content {

		.date {
			color:$main;
			font-size:11px;
			margin-bottom:20px;
			margin-top:4px;
			font-family:$main-r;
			text-transform:uppercase;
			text-align:center;
		}
		.image {
			text-align:center;
		}
	}
	.controllers {
		margin-top:80px;
		a {
			transition:all .3s;
			display:flex;
			align-items:center;
			i {
				font-size:30px;
			}
			&:hover {
				color:$main;
			}
			&:first-child {
				i {
					margin-right:15px;
				}
			}
			&:last-child {
				i {
					margin-left:15px;
				}
			}
		}
	}
	@media(max-width:1240px) {
		padding:0 20px 50px 40px;
		&.controllers {
			margin-top:50px;
		}
	}
	@media(max-width:767px) {
		padding:0 20px 30px;
		.controllers {
			margin-top:30px;
			a {
				font-size:13px;
				i {
					font-size:20px;
				}
				&:first-child {
					i {
						margin-right:5px;
					}
				}
				&:last-child {
					i {
						margin-left:5px;
					}
				}
			}
		}
	}
}