@import '../../../variables';

.blog-section {
    @media(max-width:1240px) {
        padding-bottom:50px;
    }
}
.top-section {
    padding:30px 30px 15px 43px;
    h3 {
        font-family:$proxima-xbold;
        color:$main;
        font-size:37px;
        line-height:41px;
        span {
            color:$black;
            display:block;
        }
        @media(max-width:767px) {
            font-size:26px;
            line-height:31px;
        }
    }
    p {
        span {
            font-family:$main-b;
        }
    }
    @media(max-width:767px) {
        font-size:26px;
        line-height:31px;
        padding-left:20px;
        padding-right:20px;
    }
}
.blog-carousel {
    position:relative;
    padding:0 50px;
    margin-top:55px;
    .owl-stage {
        display:flex;
    }
    :is(.owl-item, .item) {
        min-height:100%;
    }
    .top {
        border:1px solid #707070;
        flex:1;
        background:$main;
        border-top:1px solid  #707070;
        div {
            background:$main;
            padding:16px;
        }
        h3 {
            font-family:$proxima-bold;
            font-size:24px;
            line-height:21px;
            color:#ECECEC;
            text-transform:lowercase;
            -webkit-box-orient: vertical;
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        a {
            position:relative;
            &:before {
                content: "";
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.7);
                opacity: 0;
                transition: all .3s;
			}
			&:hover {
                &:before {
                    opacity:1;
                    width:100%;
                }
                .r-zoom {
                    opacity:1;
                    transform:translate(-50%,-50%) rotate(90deg);
                }
            }
            .r-zoom {
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                width:60px;
                height:60px;
                border-radius:50%;
                border:1px solid #fff;
                background:transparent;
                display:flex;
                align-items:center;
                justify-content:center;
                opacity:0;
                transition:all .3s;
                
                i {
                    color:#fff;
                    font-size:15px;
                }
            }
        }
    }
    .item {
        flex-direction:column;
        display:flex;
        .main-btn {
            max-width:110px;
            margin:auto;
        }
    }
    .owl-nav {
        button {
            position:absolute;
            top:50%;
            transition:all .3s;
            transform:translateY(-50%);
            &.owl-prev {
                left:10px;
            }
            &.owl-next {
                right:10px;
            }
            span {
                display:none;
            }
            .fas {
                font-size:30px;
                color:$black;
                transition:all .3s;
            }
            &:focus {
                outline:0;
            }
            &:hover {
                .fas {
                    color:$black;
                }
            }
        }
        @media(max-width:1240px) {
            button {
                &.owl-prev {
                    left:22px;
                }
                &.owl-next {
                    right:22px;
                }
            }
        }
    }
}
